
<h4><%=link_to portfolio.titel,portfolio_show_path(portfolio) %></h4>
<p><%=portfolio.subtitel %></p>
<p><%=portfolio.body %></p>
<p><%= image_tag portfolio.thumb_image if !portfolio.thumb_image.nil?%></p>
<%=link_to "Edit",edit_portfolio_path(portfolio) if logged_in?(:site_admin )%>
<%=link_to "Destroy",portfolio_path(portfolio),method: :delete,data:{confirm:'are you sure?'} if logged_in?(:site_admin )%>