<h1>Portfolio Items</h1>
<%=link_to "create new Item",new_portfolio_path %>

<% @portfolio.each do |portfolio_items|%>

<h3><%=portfolio_items.titel %></h3>
<p><%=portfolio_items.subtitel %></p>
<p><%=portfolio_items.body %></p>
<p><%=portfolio_items.main_image %></p>
<p><%= image_tag portfolio_items.thumb_image if !portfolio_items.thumb_image.nil?%></p>
<%=link_to "Edit",edit_portfolio_path(portfolio_items.id) %>
<%end%>
